.location {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 -3px 4px rgb(205, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    & i {
        margin-right: 1rem;
    }
}

.presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(245, 245, 245);
    &__subtitle {
        width: 100vw;
        margin: 1rem 1.5rem;
    }
}

.register {
    background-color: white;  
}