/**Validation on each items with animation**/

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: $thirdColor;
    color: white;
    border-radius: 0 1.1rem 1.1rem 0;
    text-align: center;
    transition: width $transitionTime ease-in-out;
    width: 0vw;
    &__icon {
        transform: rotate(0deg);
        // transition: $transitionTime; Rotation de l'icone lors du retour
    }
}
// Apparition de la div check et rotation de l'icone dedans
.item:hover {
    .check {
        width: 20vw;
        &__icon {
            transform: rotate(-360deg);
            transition: $transitionTime*2;
        }
    }
}
