/**Validation on each items with animation**/

.check {
    font-size: 1.5rem;
    background-color: $thirdColor;
    color: white;
    padding: 1rem 0;
    border-radius: 0 1.1rem 1.1rem 0;
    width: 0;
    text-align: center;
}

.item:hover {
    .check {
        animation : slideX 1s linear 1 both;
        &__icon {
            animation: rollon 0.5s linear;
            animation-delay: 0.5s;
        }
    }
}

@keyframes slideX {
    from {
        width: 0vw;
    }

    to{
        width: 20vw;
    }
}


@keyframes rollon {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
