/**Validation on each items with animation**/

.check {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $thirdColor;
    font-size: 1.5rem;
    display: none;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0 1.1rem 1.1rem 0;
}

.item:hover {
    .check {
        animation: slideX 1s;
        display: flex;
        &__icon {
            animation: rollon 1s;
        }
    }
    .item__container__body {
        &__description {
            width: 55vw;
        }
        &__price{
            animation: slideX 1s;
        }
    }
}

@keyframes slideX {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rollon {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
