/**Heart icon with gradient when active**/

.iconHeart {
    font-size: 1.5rem;
    position: absolute;
    right: 7vw;
}

.iconHeart--full {
    font-size: 1.5rem;
    position: absolute;
    right: 7vw;
    color: transparent;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.iconHeart--full:active {
    opacity: 1;
    background: -webkit-linear-gradient($principalColor, $secondaryColor);
    -webkit-background-clip: text;
    background-clip: text;

}
