body {
    margin: 0;
    font-family: $roboto
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 0;
    width: 100vw;
    margin: 0.8rem 1rem 0 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    margin: 0;
}

/***Menus***/

.template-article__header h1 {
    font-family: $shrikhand;
    font-weight: 500;
    font-size: 1.5rem;
}

.rubric h2 {
    font-weight: 100;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.item h3 {
    font-size: 1.1rem;
    margin: 0;
}

a:not(.btn) {
    text-decoration: none;
    color: black;
}

a:not(.btn):visited {
    color: black;
}

