@import "./../1.utils/1.variables";

body > header {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

body section header {
    padding: 2rem 2rem 1rem 1.5rem;
}

body main article header {
    padding: 2rem 2rem 1rem 0.5rem;
}
