@import "./../1.utils/1.variables";
@import "./../1.utils/3.mixins";

body footer {
    background-color: rgb(63, 63, 63);
    & ul {
        color: white;
        list-style: none;
        margin: 0;
        padding: 1rem 1rem 2rem 1rem;
        & li:nth-child(1){
            font-family: $shrikhand;
            margin-bottom: 0.7rem;
            font-size: 1.2rem;
            text-decoration: none;
        }
        & li {
            & a {
                text-decoration: none;
                color: white;
            }
            & i {
                width: 1.5rem;
            }
        }
    }
}

body footer li:hover {
    cursor: pointer;
    text-decoration: underline;
}

body footer a:visited {
    color: white;   
}
